:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #66a5f1;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px;
    padding: 10px;
    font-size: 24px;
}

.principal {
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.imagem__fundo {
    margin-left: 120%;
    margin-top: -60%;

}

.container__imagem {
    margin: 1em 0 2em 0;
    border-radius: 50%;
}

.container__caixa {
    margin: 0 6em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.redes__sociais {
    text-align: center;
}

.redes__titulo {
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 20px;
}

.fa-facebook,
.fa-youtube,
.fa-instagram,
.fa-whatsapp {
    text-align: center;
    font-size: 60px;
    color: var(--branco-principal);
    margin-top: 25px;
    margin-right: 25px;
}


.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__logo {
    width: 10%;
    border-radius: 10%;
}

.localizacao {
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 20px;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

@media only screen and (max-width: 600px) {
    .container__caixa {
        padding: 10px;
    }

    .container__titulo {
        font-size: 18px;
    }

    .imagem__fundo {
        display: none; 
    }

    .container__secundario {
        width: 100%;
        height: auto;
    }

    .descricao__titulo {
        font-size: 18px;
    }

    .descricao__texto {
        font-size: 14px;
    }

    .secundario__imagem {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .dispositivos__titulo {
        font-size: 18px;
    }

    .lista__item {
        font-size: 14px;
    }

    .redes__titulo {
        font-size: 18px;
    }

    .fab {
        font-size: 24px;
    }
}
